{% load i18n %}
<p class="person__membership">
	<div class="person__membership_period">
		{% trans "start:" %} {{ membership.start_date }} {% trans "end:" %} {{ membership.end_date }}
	</div>
	<div class="person__membership_role">
	{{ membership.post.label }} {{ membership.role }} - {{ membership.organization.name }}
	</div>
	<div class="person__membership_area">	
		{{ membership.area.name }}
	</div>

	{% if isEdittingPolitician %}
	<div class="person__membership_edit">
		<a style="background-color:#cc0000" id="delete_{{ membership.id }}" class="button">{% trans "Delete" %}</a>
		<a style="display:none; background-color:#0000cc;" id="undo_delete_{{ membership.id }}" class="button">{% trans "Undo Delete" %}</a>
		<input type="hidden" id="is_deleted_{{ membership.id }}" name="is_deleted_{{ membership.id }}" value="0">
	</div>
	{% endif %}
</p>
