{% extends 'base.html' %}
{% load i18n %}

{% load metadescription %}
{% load standing %}
{% load exists %}

{% block title %} {{ area_name }} {% endblock %}

{% block hero %}
  <h1>{% include 'candidates/area_breadcrumb.html' %} {{ area_name }}</h1>
{% endblock %}

{% block content %}

  {% if internal_areas_count > 0 %}

	  <h2>
	  	<a href="{{ internal_areas_url }}">{% trans "Internal Areas" %}</a>
	  </h2>

	  <hr>

  {% endif %}
  
  {% for organism_indent, organism_name in organisms %}

      <h3 style="text-indent:{{ organism_indent }}px">{{ organism_name }}</h3>

  {% endfor %}

{% endblock %}
