{% extends 'base.html' %}
{% load i18n %}

{% load metadescription %}
{% load standing %}
{% load exists %}

{% block title %} {{ area_name }} {% endblock %}

{% block hero %}
  <h1>{{ area_name }} - {% blocktrans %}Internal Areas{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

{% for internal_area_name, internal_area_url in internal_areas_urls %}
    {% if forloop.first %}
      <ul>
    {% endif %}
      <li><a href="{{ internal_area_url }}">{{ internal_area_name }}</a></li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% empty %}
    <p>
      {% blocktrans %}No internal areas found in{% endblocktrans %} {{ area_name }}.
    </p>
  {% endfor %}

{% endblock %}
