{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "About this site" %}{% endblock %}

{% block hero %}
  <h1>{% trans "About this site" %}</h1>
{% endblock %}

{% block content %}

<div class="help-about">

<p><strong>¡Bienvenido a PoliCrowd, Plataforma colectiva de políticos!</strong></p>

<p>La Fundación Conocimiento Abierto lleva adelante PoliCrowd gracias al apoyo del programa DataShift y The Engine Room.</p>

<p><strong>Puede escribirnos a <a href="mailto:info@fcabierto.org">info@fcabierto.org</a></strong></p>

<p>El proyecto de recolectar información sobre todos los políticos y funcionarios argentinos surge en función de la necesidad de periodistas, investigadores, politólogos y los ciudadanos en general de conocer a sus representantes y empleados públicos, especialmente en un contexto en el que el cambio de partido gobernante favoreció muchos cambios, tanto en los cargos electivos, no-electivos, personal de planta y contratados.</p>

<p>Lo llamamos plataforma colectiva, porque creemos en el valor del trabajo de todos y cada uno. Sabemos que muchas personas se pueden beneficiar de una base de datos como esta, es por eso que necesitamos de tu ayuda para hacer crecer PoliCrowd.</p>
<p>
<a href="/leaderboard">Listado de usuarios que colaboraron.</a><br/>
</p>

<p>Sumate a nuestro grupo de colaboradores, vos también podés ser parte. Vamos
a poner toda la información en el sitio web de PoliCrowd, que fue
desarrollado con software libre y la información publicada con licencias
copyleft.</p>

<p>Agradecemos a MySociety, quienes desarrollaron el software con el que corre PoliCrowd, para más información lea nuestra <a href="{% url 'help-reuse' %}">página de reutilización</a>.</p>

</div>

{% endblock %}
